.copyright {
	margin-top: 3em;
	font-size: smaller;
	color: #666;	
	text-align: center;
}

.navvx {
	padding: 0 !important;
}
.navv {
	margin: 0 !important;
}
.navv .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}

.navv .ui-btn .ui-icon { 
    width: 45px!important; 
    height: 35px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

#btn_home .ui-icon { 
	background: url(../icons/icons-white/53-house.png) 50% 50% no-repeat;
}

#btn_search .ui-icon { 
	background: url(../icons/icons-white/06-magnify.png) 50% 50% no-repeat;
}

#btn_deals .ui-icon { 
	background: url(../icons/icons-white/15-tags.png) 50% 50% no-repeat;
}

#btn_profile .ui-icon { 
 	background: url(../icons/icons-white/111-user.png) 50% 50% no-repeat; 
}

#btn_logout .ui-icon { 
	background: url(../icons/icons-white/113-navigation.png) 50% 50% no-repeat;
}

.fd_about {
	clear: both;
	overflow: hidden;
}

.fd_info {
	float: left;
}

.fd_countdown {
	clear: both;
	font-weight: bold;
	color: #364261;
	white-space: nowrap !important;
}

.fd_img {
	float: right;
}
.fd_img img {
	border: 1px solid #666;
}

.fd_desc {
	clear: both;
	font-size: small;
	margin-top: 2em;
}

.fd_title {
	margin-top: 0 !important;
	margin-bottom: 6px !important;
}


/* jQuery Countdown styles 1.5.9. */
.hasCountdown { margin: 0 0 0 0;}
.countdown_rtl { direction: rtl; }
/*
.countdown_holding span { background-color: #ccc; }
.countdown_row { clear: both; width: 100%;}
.countdown_show1 .countdown_section { width: 98%; }
.countdown_show2 .countdown_section { width: 48%; }
.countdown_show3 .countdown_section { width: 32.5%; }
.countdown_show4 .countdown_section { width: 24.5%; }
.countdown_show5 .countdown_section { width: 19.5%; }
.countdown_show6 .countdown_section { width: 16.25%; }
.countdown_show7 .countdown_section { width: 14%; }
*/
.countdown_section { margin-right: 5px; display: block; float: left; padding:2px 0 4px 0;  font-size: 65%; text-align: center; color:#000;  text-shadow: #eee 1px 0px 1px;}
.countdown_amount { font-size: 200%; font-weight:700; color:#fff; text-shadow:black 1px 1px 3px;  }
.countdown_descr { display: block; width: 100%;  }


a {
    -webkit-touch-callout: none !important; 
}

.time_remaining {
	font-size: small;
	color: #666;
	clear: both;
	margin-top: 5px;
}

#flash .ui-title {
  overflow: visible !important;
  white-space: normal !important;
  margin-left: 1em; 
  margin-right: 1em;
}